
<%- include('partials/head.ejs') %>
<%- include('partials/navbar.ejs') %>
<div class="container">
    <div class="card">
        <div class="card-header">
            <h3>Trabalho Extensionista 2 Davi Janisch Maia</h3>
        </div>
        <div class="card-body">
            <p> Esse trabalho visa utilizar a tecnologia blockchain para demonstrar
                que podemos trazer mais transparência aos arquivos públicos. Nessa
                pequena amostra transformo o texto digitado pelo usuário em hash,
                armazenando este em um token ERC721 na blockchain, sem possibilidade
                de mudança. O usuário pode digitar o texto, escolher o token que
                quer comparar. Para rodar o programa, basta dar um npm install e 
                depois um node index. Para facilidade de correção, deixei um private
                key para teste de vocês. Utilizei a Mumbai, rede teste da Polygon.
            </p>
        </div>
        <div class="card-footer">
            <h4>
                Contrato <a href="https://mumbai.polygonscan.com/token/0xe0897394988f6917871e999ada0a1abfe5eea1fb">0xe0897394988f6917871e999aDa0a1ABFE5eea1Fb</a> na Mumbai Polygon Scan
            </h4>
            
        </div>
    </div>
</div>
<%- include('partials/footer.ejs') %>