<%- include('partials/head.ejs') %>
<form action="/arquivo" method="POST">
    <textarea name="texto" id="" cols="30" rows="10"></textarea>
    <button>Enviar</button>
</form>
<%- include('partials/footer.ejs') %>